<%- include(`layout/header/`) %>
<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto mt-4">
            <div class="card shadow">
                <div class="card-header bg-primary">
                    <h3 class="text-light">Agregar Auto</h3>
                </div>
                <div class="card-body p-4">
                    <form action="/addAuto" method="post" id="add-form" enctype="multipart
                    /form-data">
                    <div class="mb-3">
                        <label for="modelo">Modelo</label>
                        <input type="text" name="modelo" class="form-control form-control-lg"  required/>
                    </div>
                    <div class="mb-3">
                        <label for="marca">Marca</label>
                        <input type="text" name="marca" class="form-control form-control-lg" required/>
                    </div>
                    <div class="mb-3">
                        <label for="color">Color</label>
                        <input type="text" name="color" class="form-control form-control-lg" required/>
                    </div>
                    <div class="mb-3">
                        <label for="placa">Placa</label> 
                        <input type="text" name="placa" class="form-control form-control-lg" required/>
                    </div>
                    <div class="mb-3">
                        <label for="pasajeros">Pasajeros</label>
                        <input type="text" name="pasajeros" class="form-control form-control-lg" required/>
                    </div>
                    <div class="mb-3 d-grid">
                        <input type="submit" name="submit" value="Add Pasajeros" class="btn btn-primary btn-lg"/>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include(`layout/footer/`) %>