<%- include(`layout/header/`) %>
<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto mt-4">
            <div class="card shadow">
                <div class="card-header bg-primary">
                    <h3 class="text-light">Agregar nuevo cliente</h3>
                </div>
                <div class="card-body p-4">
                    <form action="/add" method="post" id="add-form" enctype="multipart
                    /form-data">
                    <div class="mb-3">
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" class="form-control form-control-lg" placeholder="Roberth" required/>
                    </div>
                    <div class="mb-3">
                        <label for="apellido">Apellido</label>
                        <input type="text" name="apellido" class="form-control form-control-lg" placeholder="Barre" required/>
                    </div>
                    <div class="mb-3">
                        <label for="cedula">Cedula</label>
                        <input type="number" name="cedula" class="form-control form-control-lg" placeholder="135184628" required/>
                    </div>
                    <div class="mb-3">
                        <label for="celular">Celular</label>
                        <input type="number" name="celular" class="form-control form-control-lg" placeholder="0981106402" required/>
                    </div>
                    <div class="mb-3">
                        <label for="correo">Correo</label>
                        <input type="text" name="correo" class="form-control form-control-lg" placeholder="pepito@gmail.com" required/>
                    </div>
                    <div class="mb-3">
                        <label for="direccion">Dirección</label>
                        <input type="text" name="direccion" class="form-control form-control-lg" placeholder="Manta 2000" required/>
                    </div>
                    <div class="mb-3">
                        <label for="edad">Edad</label>
                        <input type="number" name="edad" class="form-control form-control-lg" placeholder="18" required/>
                    </div>
                    <div class="mb-3">
                        <label for="tipoLicencia">Tipo Licencia</label>
                        <input type="text" name="tipoLicencia" class="form-control form-control-lg" placeholder="A" required/>
                    </div>
                    <div class="mb-3 d-grid">
                        <input type="submit" name="submit" value="Add Cliente" class="btn btn-primary btn-lg"/>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include(`layout/footer/`) %>