<%- include(`layout/header/`) %>
<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto mt-4">
            <div class="card shadow">
                <div class="card-header bg-success">
                    <h3 class="text-light">Editar Cliente(<%= cliente.nombre %> )</h3>
                </div>
                <div class="card-body p-4">
                    <form action="/update/<%= cliente._id %> " method="post" id="add-form" enctype="multipart
                    /form-data">
                    <div class="mb-3">
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" class="form-control form-control-lg" placeholder="Roberth" value="<%= cliente.nombre %> " required/>
                    </div>
                    <div class="mb-3">
                        <label for="apellido">Apellido</label>
                        <input type="text" name="apellido" class="form-control form-control-lg" placeholder="Barre" value="<%= cliente.apellido %> "required/>
                    </div>
                    <div class="mb-3">
                        <label for="cedula">Cedula</label>
                        <input type="text" name="cedula" class="form-control form-control-lg" placeholder="135184628" value="<%= cliente.cedula %> "required/>
                    </div>
                    <div class="mb-3">
                        <label for="celular">Celular</label>
                        <input type="text" name="celular" class="form-control form-control-lg" placeholder="0981106402" value="<%= cliente.celular %> " required/>
                    </div>
                    <div class="mb-3">
                        <label for="correo">Correo</label>
                        <input type="text" name="correo" class="form-control form-control-lg" placeholder="pepito@gmail.com" value="<%= cliente.correo %> " required/>
                    </div>
                    <div class="mb-3">
                        <label for="direccion">Dirección</label>
                        <input type="text" name="direccion" class="form-control form-control-lg" placeholder="Manta 2000" value="<%= cliente.direccion %> " required/>
                    </div>
                    <div class="mb-3">
                        <label for="edad">Edad</label>
                        <input type="text" name="edad" class="form-control form-control-lg" placeholder="18" value="<%= cliente.edad %> "required/>
                    </div>
                    <div class="mb-3">
                        <label for="tipoLicencia">Tipo Licencia</label>
                        <input type="text" name="tipoLicencia" class="form-control form-control-lg" placeholder="A"value="<%= cliente.tipoLicencia %> " required/>
                    </div>
                    <div class="mb-3 d-grid">
                        <input type="submit" name="submit" value="Editar Cliente" class="btn btn-success btn-lg"/>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include(`layout/footer/`) %>