<%- include(`layout/header/`) %>
    <div class="container">
        <div class="row my-4">
            <div class="col-lg-12">
                <% if(message) {%>
                    <div class="alert alert-dismissible fade show alert-<%= message.type%>" role="alert">
                        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                        <strong>
                            <%= message.message %>
                        </strong>
                    </div>

                    <% } %>
                        <div class="table-responsive">
                            <% if(propietarios !='' ) {%>
                                <table class="table table-striped text-center my-3">
                                    <thead>
                                        <tr class="table-dark">
                                            <td>#</td>
                                            <td>Nombre</td>
                                            <td>Apellido</td>
                                            <td>Cedula</td>
                                            <td>Celular</td>
                                            <td>Correo</td>
                                            <td>Dirección</td>
                                            <td>Edad</td>
                                            <td>Tipo de Licencia</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% propietarios.forEach((row, index) => { %>
                                         <tr class="align-middle">
                                            <td><%= index+1  %> </td>
                                            <td><%= row.nombre  %></td>
                                            <td><%= row.apellido  %></td>
                                            <td><%= row.celular  %></td>
                                            <td><%= row.cedula  %></td>
                                            <td><%= row.correo  %></td>
                                            <td><%= row.direccion  %></td>
                                            <td><%= row.edad  %></td>
                                            <td>
                                                <a href="/editPropietario/<%=row._id%>"  class="text-success"><i class="fas fa-edit fa-lg mx-1"></i></a>
                                                <a href="/deletePropietario/<%= row._id  %>" class="text-danger"><i class="fas fa-trash fa-lg mx-1"></i></a>
                                            </td>
                                         </tr>
                                        <% }) %>
                                        
                                    </tbody>
                                </table>

                                <% }else{ %>
                                    <h1 class="text-center text-secondary mt-5 ">No hay ningun propietario resgistrado</h1>
                                <% } %>
                                <tr>
                                    <a href="/addPropietario" class="text-danger"><button type="button" class="btn btn-primary">Nuevo propietario</button></a>
                                </tr>

                    </div>
            </div>
        </div>
    </div>
    <%- include(`layout/footer/`) %>