<%- include(`layout/header/`) %>
    <div class="container">
        <div class="row my-4">
            <div class="col-lg-12">
                <% if(message) {%>
                    <div class="alert alert-dismissible fade show alert-<%= message.type%>" role="alert">
                        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                        <strong>
                            <%= message.message %>
                        </strong>
                    </div>

                    <% } %>
                        <div class="table-responsive">
                            <% if(autos !='' ) {%>
                                <table class="table table-striped text-center my-3">
                                    <thead>
                                        <tr class="table-dark">
                                            <td>#</td>
                                            <td>Modelo</td>
                                            <td>Marca</td>
                                            <td>Color</td>
                                            <td>Placa</td>
                                            <td>Pasajeros</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% autos.forEach((row, index) => { %>
                                         <tr class="align-middle">
                                            <td><%= index+1  %> </td>
                                            <td><%= row.modelo  %></td>
                                            <td><%= row.marca  %></td>
                                            <td><%= row.color  %></td>
                                            <td><%= row.placa  %></td>
                                            <td><%= row.pasajeros  %></td>

                                            <td>
                                                <a href="/editAuto/<%=row._id%>"  class="text-success"><i class="fas fa-edit fa-lg mx-1"></i></a>
                                                <a href="/deleteAuto/<%= row._id  %>" class="text-danger"><i class="fas fa-trash fa-lg mx-1"></i></a>
                                            </td>
                                         </tr>
                                        <% }) %>
                                        
                                    </tbody>
                                </table>

                                <% }else{ %>
                                    <h1 class="text-center text-secondary mt-5 ">No hay ningun auto resgistrado</h1>
                                <% } %>
                                <tr>
                                    <a href="/addAuto" class="text-danger"><button type="button" class="btn btn-primary">Nuevo auto</button></a>
                                </tr>

                    </div>
            </div>
        </div>
    </div>
    <%- include(`layout/footer/`) %>