<template>
    <v-app id="inspired">
    <v-app-bar
    app
    color="green"
    dark
    >
    <v-app-bar-nav-icon @click.stop="mini = !mini" />
    <v-toolbar-title
    style="width: 300px" 
    class="ml-0 pl-4"
    >
    <span class="hidden-sm-and-down">EXAMEN-CRUD-AUTOS</span>

    </v-toolbar-title>
  <v-spacer />
  <v-btn icon>
    <v-icon>mdi-logout</v-icon>
  </v-btn>
    </v-app-bar>
    <v-main>
      <v-container
      class="scroll-y"
      fluid
      >
      <v-row
      align="center"
      justify="center"
      >
      <v-col cols="8" md="8">
        <v-card class="ml-5 mr-5">
          <v-app-bar
          dark
          color="#2C3A47"
          >
          <v-btn icon>
            <v-icon>mdi-account</v-icon>
          </v-btn>
          <v-toolbar-title>Autos</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" persistent max-width="800px">
            <template v-slot:activator="{on}">
              <v-btn color="red" v-on="on" outlined="">
                <v-icon left>mdi-plus</v-icon>Añadir
              </v-btn>
            </template>
            <v-card>
              <v-form @submit.prevent="savePost" ref="postData" lazy-validation enctype="multipart/form-data" autocomplete="off">
                <v-card-title>
                  <span class="headline">Auto</span>
                </v-card-title>
                <v-card-text>
                  <v-container grid-list-md>
                    <v-layout wrap>
                      <v-flex xs12 sm12 md12>
                        <v-text-field label="Modelo"  v-model="postData.modelo" color="#2C3A47"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm12 md12>
                        <v-text-field label="Marca"  v-model="postData.marca" color="#2C3A47"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm12 md12>
                        <v-text-field label="Color"  v-model="postData.color" color="#2C3A47"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm12 md12>
                        <v-text-field label="Placa"  v-model="postData.placa" color="#2C3A47"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm12 md12>
                        <v-text-field label="Pasajeros"  v-model="postData.pasajeros" color="#2C3A47"></v-text-field>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="#2C3A47" dark @click="close" outlined small>
                    <v-icon left>mdi-exit-to-app</v-icon>Cerrar
                  </v-btn>
                  <v-btn color="light-green darken-4" dark type="submit" outlined small>
                    <v-icon left>mdi-content-save</v-icon>Guardar
                  </v-btn>
                </v-card-actions>
              </v-form>
            </v-card>
          </v-dialog>
          </v-app-bar>
          <v-container>
            <v-card class="mx-auto elevation-19">
              <v-card-title>
                <v-spacer></v-spacer>
                <v-text-field
                v-model="search"
                append-icon="search"
                label="Buscar"
                single-line
                hide-details
                color="#2C3A47"
                >
                </v-text-field>
              </v-card-title>
      <v-data-table
      item-key="id"
        :headers="headers"
        :items="posts"
        :search="search"
        >
      <template v-slot:item.actions="{item}">
        <v-btn color="sucess" class="mx-2" fab x-small @click="editPost(item)" outlined>
          <v-icon samll>mdi-pencil</v-icon>
        </v-btn>
        <v-btn color="pink" fab x-small @click="deletePost(item._id)" outlined>
          <v-icon samll>mdi-delted</v-icon>
        </v-btn>
      </template>
      <template v-slot:no-result>
        <v-alert :value="true" color="pink" icon="warning" dark>
          Tu busqueda {{search}} no existe.
        </v-alert>
      </template>
      </v-data-table>
            </v-card>
          </v-container>
        </v-card>
      </v-col>
      </v-row>

      </v-container>
    </v-main>
    <v-btn
    v-scroll="onScroll"
    bottomcolor="red"
    dark
    fab
    fixed
    right
    @click="toTop"
    >
  <v-icon>mdi-chevron-up</v-icon>
    </v-btn>
    </v-app>
</template>
<script>
import axios from "axios";
export default{
    props:{
        source: String
    },
    data:()=> ({
        mini:false,
        dialog: false,
        fab: false,
        posts:[],
        headers:[
          {text:'Modelo', value:'modelo', sortable: true},
          {text:'Marca', value:'marca', sortable: true},
          {text:'Color', value:'color', sortable: true},
          {text:'Placa', value:'placa', sortable: true},
          {text:'Pasajero', value:'pasajeros', sortable: true},
          {text:'Actio', value:'actions', sortable: true, with:'180px'},
          
        ],
        postData:{
          modelo:'',
          marca:'',
          color:'',
          placa:'',
          pasajeros:''

        },
        default:{
          modelo:'',
          marca:'',
          color:'',
          placa:'',
          pasajeros:''
        },
        editedIndex: -1,
    }),
    watch:{
      dialog (val){
        val||this.close()
      }
    }
    ,
    methods:{
      onScroll(e){
        if(typeof window ==='undefined') return
        const top =window.pageYOffset || e.target.scrollTop ||  0
        this.fab = top >20
      },
      toTop(){
        this.$vuetify.goTo(0);
      },
      close(){
        this.dialog= false,
        setTimeout(()=>{
          this.postData= Object.assign({},this.default)
          this.editedIndex= -1
        },300)
      },
       saveAuto:async function(){
        if(this.editedIndex>-1){
          console.log('updated');
        } else {
          this.createAuto();
        }
      },
      savePost(){
        if(this.editedIndex > -1){
          console.log('updated');
        } else {
          this.createPost();
        }
      },
      createPost(){
        let apiURL = 'http://localhost:4000/api/create-auto';
        axios.post(apiURL, this.postData).then(()=>{
         
          this.postData={
            modelo:'',
            marca:'',
            color:'',
            placa:'',
            pasajeros:'',
          }
          this.close();
        }).catch(error =>{
          console.log(error);
        });
      }
    }

}
</script>